{{#if li}}
    <li class="{{ calssName + ' ' + active}}">
        <a href='{{basePath}}{{ to }}' on:click='navigate(event, to)'>
            {{ yield }}
        </a>
    </li>
{{else}}
    <a href='{{basePath}}{{ to }}' class="{{ calssName + ' ' + active}}" on:click='navigate(event, to)'>
        {{ yield }}
    </a>
{{/if}}

<script>
    import roadtrip from 'roadtrip';

    const activedClassName = 'active'
    
    export default {
        data () {
            return {
              to: '/',
              basePath: '',
              active: '',
              location: '',
              calssName: '',
              li: false,
            }
        },
        oncreate () {    
            this.observe('location', location => {
                // console.log(location);
                this.setActivedClass(location);
            });
        },
        methods: {
            navigate ($e, to) {
                if ($e && $e.preventDefault) $e.preventDefault()
                // console.log('roadtrip.RouteData', roadtrip.RouteData);          
                if (to) {            
                    roadtrip.goto(to);
                } else {
                    this.fire('logout', {
                        thing: 'logout event was fired'
                    });
                }
            },
            setActivedClass (location) {                
                if (roadtrip.routing.isActive (location, this.get('to'))) {
                    this.set({ active: activedClassName })
                } else {
                    this.set({ active: '' })
                }
            }
        }
    }
</script>