{#if li}
    <li class="{ calssName + ' ' + active }">
        <a href='{basePath}{ to }' on:click='navigate(event, to)'>
            <slot></slot>
        </a>
    </li>
{:else}
    <a href='{basePath}{ to }' class="{ calssName + ' ' + active }" on:click='navigate(event, to)'>
        <slot></slot>
    </a>
{/if}

<script>
    import roadtrip from 'roadtrip';

    const activedClassName = 'active'
    
    export default {
        data () {
            return {
              to: '/',
              basePath: '',
              active: '',
              location: '',
              calssName: '',
              li: false,
            }
        },
        oncreate () {               
            const { to } = this.get(); 
            this.observe('location', location => {
                // console.log(location, to);
                this.setActivedClass(location, to);
            });
        },
        methods: {
            navigate ($e, to) {
                if ($e && $e.preventDefault) $e.preventDefault();         
                if (to) {            
                    roadtrip.goto(to);
                } else {
                    this.fire('logout', {
                        thing: 'logout event was fired'
                    });
                }
            },
            setActivedClass(location, to) {                
                if (this.isActive(location, to)) {
                    this.set({ active: activedClassName })
                } else {
                    this.set({ active: '' })
                }
            },
            isActive: (location, pathTo) => {
                if (pathTo == '/') { pathTo = '/app/topics'}
                if (pathTo.length > 1){
                    return location.indexOf(pathTo.substring(1)) > -1;
                }
                return false;
            },
        }
    }
</script>